<h1><%= link_to 'TODO List', lists_path %></h1>

<h3><%= @list.title %></h3>

<h4>新しいToDoを作成</h4>
<%= render "tasks/form" %>

<table>
  <tbody>
    <%= render @list.tasks %>
  </tbody>
</table>

<%= link_to '戻る', lists_path %>
