<h1><%= link_to 'TODO List', lists_path %></h1>
<h2><%= link_to "検索", search_lists_path %></h2>

<h3><%= @list.title %></h3>

<%= render "tasks/form" %>

<table>
  <tbody>
    <%= render @list.tasks.order('done, due_date, name') %>
  </tbody>
</table>
