<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
  <div id="wrap">

    <header id="header">
      <div class="inner">
        <p id="logo"><%= link_to "TODO List", lists_path %></p>
        <p id="search"><%= link_to "検索", search_lists_path %></p>
      </div><!-- /.inner -->
    </header><!-- /#header -->

    <div id="main">
      <%= yield %>
    </div><!-- /#main -->

  </div><!-- /#wrap -->
  </body>
</html>
